
div{
width: 500px;
margin: 20px auto;
padding: 20px;
background-color: blueviolet;
/* background-color: #8a2be2;
background-color: hsl(271, 76%, 53%); */
color: white;

}
.assign-1-shape-2{
   
    background-color: rgb(138, 43, 226,.5);
    
    color: white;
}
.assign-1-shape-3{
    margin-top:3px;
    margin-bottom: 3px;
    background-color: #8a2be2;
    background-color: rgb(138, 43, 226,.1);
    color: white;
}